*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1{
    padding: 1.2rem;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
main .title{
    margin-top: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}
input{
    width: 250px;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}
.btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-top: 1.2rem;
}
.submit-btn{
    width:80px;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(225, 121, 156);
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9rem;
    box-shadow: 0px 0px 8px rgb(225, 121, 156);
    cursor: pointer;
}
.start_game_btn{
    width:max-content;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(244, 107, 3);
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9rem;
    box-shadow: 0px 0px 8px rgb(225, 121, 156);
    cursor: pointer;

}
.msg{
    margin-top: 0.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.content{
    font-weight: 600;
    letter-spacing: 2px;

}

.disable{
    filter: blur(0.8px);
}
