*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header h1{
    text-align: center;
    padding: 1.5rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 3px yellowgreen;
}
header h1::after{
    content: "🔋";
}
main{
    max-width: 500px;
    min-height: 50vh;
    margin:3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
h4{
    font-size: 2.3rem;
}
button{
    width:45px;
    aspect-ratio: 1;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
}
.plus-btn{
    box-shadow: 0px 0px 2px rgb(15, 54, 2);
    background-color: green;
    color: whitesmoke;
}
.minus-btn{
    background-color: rgb(179, 210, 6);
    color: whitesmoke;
    box-shadow: 0px 0px 2px rgb(179, 210, 6);
}
.button_container{
    display: flex;
    gap:2rem;
}
label{
    font-weight: 600;
}
input{
    outline: none;
    border: none;
    margin-left:0.5rem;
    width:60px;
    padding: 0.3rem;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(175, 175, 174);
    
}
.reset-btn{
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: rgb(254, 31, 31);
    color:white;
    width:70px;
    height: 40px;
    box-shadow: 1px 1px 1px red;
    margin-top: 1rem;
    margin-bottom: 0.2rem;

}